/* Tablas tipo HTML */

.scrollTableContainer
{
	border: 1px solid threedlightshadow;
	border-color: #316ac5;
}

.td_header_html
{
    /* white-space: nowrap; */
	border: 1px solid;
	border-color: #f2f1e2 #e2decd #e2decd #ebeadb;
	border-bottom: 1px solid #cbc7b8;
	background: #ebeadb;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
	height: 20px;
}

.cells_html
{
    /* white-space: nowrap; */
	border-right: 1px solid threedlightshadow;
	border-bottom: 1px solid threedlightshadow;
	background: #FFFFFF;
	border-color: #CCCCCC;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
	height: 20px;
}

/* Grillas tipo HTML filtradas */

.table_cells_filteredgrid tr 
{
	background: #FFFFFF;
}

.table_cells_filteredgrid tr:hover
{
    background-color: #C0C0C0;
}

.table_cells_filteredgrid td:hover 
{
    cursor: pointer;
}

.scrollFilteredGridContainer
{
	border: 1px solid threedlightshadow;
	border-color: #316ac5;
	background-color: #ebeadb;
}

.td_header_html_filteredgrid
{
    white-space: nowrap;
    border-color: #f2f1e2 #e2decd #e2decd #ebeadb;
    border-bottom: 1px solid #cbc7b8;
    background: #ebeadb;
    font-family: Tahoma, Helvetica, Sans-Serif;
    font-size: 11px;
    color: #000000;
    text-align: center;
    height: 20px;
    border-style: solid solid none solid;
    border-width: 1px 1px 0px 1px;
}

.td_filter_html_filteredgrid
{
    border-color: #f2f1e2 #e2decd #e2decd #ebeadb;
    border-bottom: 1px solid #cbc7b8;
    background: #ebeadb;
    font-family: Tahoma, Helvetica, Sans-Serif;
    font-size: 11px;
    color: #000000;
    text-align: center;
    height: 20px;
    border-style: none solid solid solid;
    border-width: 0px 1px 1px 1px;
}

.cells_html_filteredgrid
{
    white-space: nowrap;
	border-right: 1px solid threedlightshadow;
	border-bottom: 1px solid threedlightshadow;
	border-color: #CCCCCC;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
	height: 20px;
}

.td_footer_html_filteredgrid
{
    padding: 0px;
    margin: 0px;
    border-right: 1px solid threedlightshadow;
    border-bottom: 1px solid threedlightshadow;
    background: #808080;
    border-color: #CCCCCC;
    font-family: Tahoma, Helvetica, Sans-Serif;
    font-size: 1px;
    color: #808080;
}

/* Grillas tipo HTML */

.table_cells_grid tr 
{
	background: #FFFFFF;
}

.table_cells_grid tr:hover
{
    background-color: #C0C0C0;
}

.table_cells_grid td:hover 
{
    cursor: pointer;
}

.scrollGridContainer
{
	border: 1px solid threedlightshadow;
	border-color: #316ac5;
	background-color: #ebeadb;
}

.td_header_html_grid
{
    white-space: nowrap;
	border: 1px solid;
	border-color: #f2f1e2 #e2decd #e2decd #ebeadb;
	border-bottom: 1px solid #cbc7b8;
	background: #ebeadb;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
	height: 20px;
}

.cells_html_grid
{
    white-space: nowrap;
	border-right: 1px solid threedlightshadow;
	border-bottom: 1px solid threedlightshadow;
	border-color: #CCCCCC;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
	height: 20px;
}

.td_footer_html_grid
{
    padding: 0px;
    margin: 0px;
    border-right: 1px solid threedlightshadow;
    border-bottom: 1px solid threedlightshadow;
    background: #808080;
    border-color: #CCCCCC;
    font-family: Tahoma, Helvetica, Sans-Serif;
    font-size: 1px;
    color: #808080;
}